body {
    color: #454647;
    font-family: 'Muli', sans-serif;
}

.navbar {
    background-color: #ffffff;    
    letter-spacing: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.navbar-toggler {
    border: none;
}

#index {
    background-image: url("https://images.unsplash.com/photo-1462524500090-89443873e2b4?auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.8;
}

.index-text {    
    padding-top: 15%;
    letter-spacing: 3px;    
}

#kaili-pic {
    width: 40%;
    opacity: 0.9;
    float: right;
    margin: 4px;
}

.about-header, .projects-header {
    color: #b87e7e;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 10%;
}

.about {
    margin-top: 10%;
    min-height: 100vh;
}

.about-text {     
    letter-spacing: 2px;
}

.projects-subheader {
    text-align: center;
    letter-spacing: 2px;
}

.card {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 2px;
}

.card:last-of-type {
    margin-bottom: 10%;
}

footer {
    text-align: center;
}

.fa {
    margin: 5px 10px 15px;
}

@media screen and (max-device-width: 767px) {
    .index-text {
        padding-top: 20%;
    }

    .about-header, .projects-header {
        font-size: 24px;
        letter-spacing: 15px;
    }

   .about-text {
        text-align: justify;
    } 

    .kaili-photo {
        text-align: center;
    }

    #kaili-pic {
        width: 95%;
        opacity: 0.9;
        float: none;
    }  

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .card {
        margin-left: 0;
        margin-right: 0;
    }  
}

