@{
    ViewData["Title"] = "Projects";
}

@model IEnumerable<Portfolio.Models.Repo>

<div class="container">
    <h1 class="projects-header">Projects</h1>
    <p class="projects-subheader">View my profile on Github <a href="https://github.com/kailinishihira" target="_blank">here.</a></p>

    
        @foreach (var repo in Model)
        {
            <div class="card text-center">
                <div class="card-header">
                    Language: @Html.DisplayFor(model => repo.Language)
                </div>
                <div class="card-block">
                    <h4 class="card-title"> @Html.DisplayFor(model => repo.Name) </h4>
                    <a href="@repo.Html_url" target="_blank" class="btn btn-secondary">See the Code</a>                        
                </div>
                <div class="card-footer text-muted">
                    Stars Received: @Html.DisplayFor(model => repo.Stargazers_count)
                </div>
            </div>
        }
            



</div>
    


